*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
	width: 100%;
	background-color: #F1E8EB;
  font-family: 'Cormorant Garamond', serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 410px;
  background-color: #f1e8eb;
  min-width: 375px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



